{% extends 'login_base.html.twig' %}

{# ... #}
{% block body %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
{#        <h2 class="heading-section">Pain Monitor</h2>#}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="login-wrap p-4 p-md-5 text-center">
          <img src="{{ asset('pain/assets/images/pain2.png') }}" alt="homepage"  width="200" height="100" class="dark-logo" />

          <h3 style="color: #3b5998; font-size: 16px" >Doctor Login</h3>
          {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <form action="{{ path('app_login') }}" method="post" class="login-form">
            <div class="form-group">
              <input type="text" class="form-control rounded-left" placeholder="Email"  id="username" name="_username" value="{{ last_username }}" required>
            </div>
            <div class="form-group d-flex">
              <input type="password" class="form-control rounded-left" placeholder="Password"  id="password" name="_password" required>
            </div>
            <div class="form-group d-md-flex">
            </div>
            <div class="form-group">
              <button type="submit" style="background-color: #3b5998; color: white"  class="btn rounded submit p-3 px-5">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{#  {% if error %}#}
{#    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#  {% endif %}#}

{#  <form action="{{ path('app_login') }}" method="post">#}
{#    <label for="username">Email:</label>#}
{#    <input type="text" id="username" name="_username" value="{{ last_username }}">#}

{#    <label for="password">Password:</label>#}
{#    <input type="password" id="password" name="_password">#}

{#    #}{# If you want to control the URL the user is redirected to on success#}
{#        <input type="hidden" name="_target_path" value="/account"> #}

{#    <button type="submit">login</button>#}
{#  </form>#}
{% endblock %}